
.main {
	overflow: auto !important;
}

.thirty {
	width: 30%;
}
.twenty {
	width: 20%;
}

.fifteen {
	width: 15%;
}

.nine {
	width: 9%;
}

.sixteen {
	width: 16%;
}


th {
	background-color: #EAEAEA;
	border: 1px solid #D1D1D1;
}

.create {
	background-color: #6EA2B3;
	color: #FFFFFF;
	border:none;
	width: 100%;
	padding: 7px;
	border-radius: 3px;
}

.input {
	border: 1px solid #D6D6D6;
	padding: 7px;
	width: 100%;
	border-radius: 3px;
}

h5 {
	font-size: 18px;
}

/*toggle switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #C9C9C9;
}

input:checked + .slider {
  background-color: #40B657;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.link {
	text-decoration: underline;
	color: #6EA2B3;
}

.view {
	background-color: #6EA2B3;
	color: #FFFFFF;
	border:none;
	padding: 2px 20px;
	border-radius: 3px;
	float:right;
}

.info-circle {
	color: #C4C3CB;
}

.info-circle:hover {
	color: #000;
}

.red-link {
	float: right;
	text-decoration: underline;
}

@media screen and (max-width: 860px){
	.view {
		display:block;
		float:none;
		margin-top: 5px;
	}ы
}

